.container {
  width: 1200px;
  margin: 0 auto;
}

.main-logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}
span {
  color: #4bcaff;
}

.header-list {
  width: 1283px;
  height: 72px;
  left: 0px;
  top: 117px;
  display: flex;
  margin-top: 38px;
  align-items: center;
  justify-content: center;
}

.back-color {
  background-color: #35444f;
}

.header-list-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding: 26px 38px;
  border: white 2px solid;
}

.side-menu {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  width: 344px;
  height: 399px;
  margin-top: 48px;
  margin-right: 52px;
}
.side-menu-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding-left: 44px;
  padding-top: 26px;
}

.logo-img {
  height: 529px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  margin-top: 48px;
}
img {
  width: 320px;
  height: 381px;
  left: 297px;
  top: 75px;
}

.text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.bottom-list {
  width: 1200px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 74px;
  display: flex;
  align-items: center;
}

.bottom-list-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  padding: 20px;
  white-space: nowrap;
}

.copyright {
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-left: 40px;
  margin-right: 20px;
  white-space: nowrap;
}

.push-to-color:hover {
  background-color: #222f3a;
  cursor: pointer;
}

.push-to-move:hover {
  margin-left: 10px;
  color: #000000;
  cursor: pointer;
}

.push-to-link:hover {
  text-decoration: underline;
  color: #3181a6;
  cursor: pointer;
}
