.breadcrumbs {
  display: flex;
  list-style: none;
}
.breadcrumbs-item-link {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.breadcrumbs-item::after {
  content: "/";
  display: inline-block;
  margin: 0 5px;
}
.breadcrumbs-item:last-child::after {
  content: none;
}
.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:focus {
  color: #ffb0ba;
}
