.btn {
  padding: 20px 67px;
  border-radius: 100px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #9a3c48;
  border: none;
  cursor: pointer;
}
.btn-primary {
  background: #ffb0ba;
  box-shadow: 3px 3px 0px 3px #de8e98;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #fc9fab;
}
