.component-wrapper {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.component-wrapper-flex-column{
    flex-direction: column;
}
.filter-btn {
    margin-left: 15px;
}
.input{
    width: 386px;
    margin-bottom:20px ;
}