.filter-btn {
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: #FFFFFF;
}

.filter-btn-green {
  border-color: #78D9A8;
  color: #78D9A8;
}

.filter-btn-green:hover, 
.filter-btn-green:focus {
    background: #78D9A8;
    color: #FFFFFF;
}

.filter-btn-peach {
    border-color: #FFA88D;
    color: #FFA88D;
}

.filter-btn-peach:hover,
.filter-btn-peach:focus {
    background: #FFA88D;
    color: #FFFFFF;
}

.filter-btn-yellow {
    border-color: #FFCC8D;
    color: #FFCC8D;
}

.filter-btn-yellow:hover,
.filter-btn-yellow:focus {
    background: #FFCC8D;
    color: #FFFFFF;
}
