.input {
  background: #f9f0ee;
  border-radius: 5px;
  padding: 6px 25px;
  border: none;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #371030;
}

.input::placeholder {
    
  font-size: 16px;
  /* line-height: 30px; */
  letter-spacing: 0.04em;
  color: #371030;
  opacity: 0.5;
}

.input.valid{
    border: 1px solid #78D9A8;
    background-image: url("../image/input-valid-icon.svg");
    background-repeat: no-repeat;
    background-position: right 25px bottom 15px;
}
.input.invalid{
    border: 1px solid #FFCC8D;
    background-image: url("../image/input-invalid-icon.svg");
    background-repeat: no-repeat;
    background-position: right 25px bottom 15px;
}
