.navbar {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar-item {
    margin-right: 30px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-item-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #371030;
}

.navbar-item-link:hover {
    color: #FFA88D;
}

