.phone-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #371030;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.phone-link:hover {
  color: #ffa88d;
}

.phone-link::before {
  content: "";
  height: 21px;
  width: 18px;
  background-image: url("../image/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 16px;
}

.phone-link:hover::before {
    background-image:url("../image/phone-hover.png")
}