body {
  background-image: url("../img/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1366px;
}
.container {
  width: 1030px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:hover {
  color: #f26522;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
}
h2 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  text-align: center;
}

.card-size {
  width: 309px;
  height: 261px;
  margin-top: 22px;
  margin-bottom: 37px;
  margin-right: 61px;
  position: relative;
  cursor: pointer;
}
.card-size:hover h2 {
  color: #f26522;
}

.bottom-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 49px;
}

.main-logo {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
}

.main-logo:hover {
  color: #f26522;
}

.main-logo:before {
  position: absolute;
  bottom: 2px;
  content: "";
  width: 53px;
  height: 47px;
  background-image: url("../img/header-logo.svg");
}

.main-logo:hover::before {
  background-image: url("../img/logo2.png");
}

.logo-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 10px;
}


.logo-text-wrapper:hover .logo-piece-milan,
.logo-text-wrapper:hover .logo-piece-holidays{
  color: #f26522;
}

.logo-piece-milan {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.logo-piece-holidays {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.header-flex {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.email {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.phone-number {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  align-self: flex-end;
  margin-top: 19px;
}

.block {
  position: absolute;
  width: 304px;
  height: 55px;
  bottom: 40px;
  background: #f26522;
  display: none;
}

.card-size:hover .block {
  display: block;
}

h4 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  position: absolute;
  left: 16px;
  top: 7px;
}

.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  left: 16px;
  bottom: 12px;
}

.details {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  right: 37px;
  bottom: 12px;
}

.more-info {
  width: 5px;
  height: 10px;
  position: absolute;
  right: 16px;
  bottom: 14px;
}
