ul{
    list-style: none;
}

.menu{
    text-align: center;
}
ul li{
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin: 13px 36px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #FF0000;
}
.main-image{
    max-width: 100%;
    max-height: auto;
}
body{
width: 1280px;
height: 1626px;
}

.main-title{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-left: 253px;
    margin-right: 253px;
    margin-top: 48px;
    margin-bottom: 38px;
}
.article{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin:14px 67px;
}
.btn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 18px 42px;
    background-color: #FF0000;
    color: #FFFFFF;
    margin: 42px 544px;
    border-radius: 4px;
    white-space: nowrap;
}

.bottom-text{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
margin-left: 713px;
margin-right: 105px;
margin-bottom: 29px;
}