
.span-block span {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 15px;
    color: lightslategray;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

.focused {
    outline: none;
    border: 2px solid green;

}

.wrong {
    border: 2px solid red;
    
}