ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-menu-link{
    font-size: 14px;
    line-height: 16px;  
    color: #333333;
    font-family: Roboto;
}
.nav-menu-item{
    display: inline-block;
    margin-right: 30px;
    
}

.nav-menu{
    text-align: center;
    background: #E5E5E5;
    padding: 16px 30px;
}

body{
    margin: 0;
}

.callback-btn{
    border-radius: 40px;
    padding: 19px;
    border: 2px solid #F13C6E;
    margin-left: 40px;
}
.phone{
    font-size: 16px;
    margin-left: 93px;
    line-height: 19px;
    color: #000000;
}
.search{
    border-radius: 40px;
    margin-left: 172px;
    background-color:#EFEFEF ;
    border: 0;
    padding: 10px 20px;
}

.categories-list-item{
    display: inline-block;
    margin-right: 40px;

}
.categories-list{
    border-top: 1px solid #EFEFEF;
    padding: 30px 0;
    text-align: center;
}
.categories-list-item a{
    color: #000000;
}
.header-wrapper{
    display: flex;
    align-items: center;
}

.main-logo{
    color: #F13C6E;
    display: flex;
    align-items: center;


}

.logo-text{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    padding: 22 0;
}