@import './mixins.scss';

#toggle {
    position: relative;
    width: 44px;
    height: 37px;
    margin-top: 23px;
    background: black;
    padding: 18px 14px;
    @media screen and (min-width: 768px) {
      display: none;
  }
    input {
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      &:checked {
        + span {
          background: transparent;
          &:after {
            transform: rotate(45deg) translate(-4px, -3px);
          }
          &:before {
            transform: rotate(-45deg) translate(-4px, 3px);
          }
        }
      }
    }
    span {
      position: absolute;
      width: 17px;
      height: 2px;
      background: #fff;
      text-align: center;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 17px;
        height: 2px;
        background: #fff;
        top: -5px;
        transition: 0.3s;
        left: 0%
      }
      &:after {
        top: 5px;
      }
    }
  }
  .header__nav {
    position: absolute;
    top: 58px;
    margin-right: 23px;
    width: 50%;
    @media screen and (min-width: 768px) {
      position: unset;
      width: 100%;
      margin-right: unset;
  }
    &-list {
      @include reset-list;
      background:#F5F5F5;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        background: #fff;
        padding: 41px 0 20px 0;
        
    }
    }
    &-item {
      background-color: #fff;
      margin: 2px 0;
      &:hover {
        background: #F5F5F5;
        position: relative;
        left: -1px;
      }
    }
    &-link {
      @include mobile-menu-link;
    }
    &-list &-item:nth-child(1) a {
      color:#57A4A4;
    }
  }
