@import "./menu";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import "./mixins";
@import "./variables";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    #toggle {
        margin-right: 28px;
    }
}

.hidden {
    display: none;
    @media screen and (min-width: 768px) {
        display: unset;
    }
  }
  .card-hidden {
    display: none!important;
    @media screen and (min-width: 768px) {
        display: flex!important;
    }
  }
  .wrapper {
      margin: 0 auto;
      width: 295px;

      @media screen and (min-width: 768px) {
          width: 598px;
          margin: 0 auto;
      }
      @media screen and (min-width: 1200px) {
        width: 1200px;
        margin: 0 auto;
    }


  }
  .section-top {
      background-image: url("./img/intro-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 150px;
      margin-top: 23px;
      @media screen and (min-width: 768px) {
        height: 361px;
    }
    
    @media screen and (min-width: 1200px) {
      height: 550px;
      
  }
  }

  .posts {
      margin-top: 38px;
      &__title {
        @include section-title;
        @media screen and (min-width: 1200px) {
            
        }
    }
    
  }
  .cards {
      width: 100%;
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
      &__card {
          display: flex;
          flex-direction: column;
          margin-top: 23px;
          & img {
              width: 160px;
          }
          & span, & a {
              @include post-link
          }
          @media screen and (min-width:768px){
              flex-direction: row;
          }
          @media screen and (min-width: 1200px) {
            width: 40%;
        }
      }
      &__title {
        @include post-title;

      }
      &__description {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        display: none;
        @media screen and (min-width: 600px) {
            display: block;
        }
        
      }
      &__text-block {
        @media screen and (min-width:768px){
            margin-left: 21px;
        }
      }


  }

  .instagram-photos {
    background-color: #F7F7F7;
  }

  .instagram-photos__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    margin-top: 69px;
    margin-bottom: 24px;
    @media screen and (min-width:320px){
        .post-hidden {
            display: none;
        }
}
@media screen and (min-width:768px){
    .post-hidden {
        display: block;
    }
}
@media screen and (min-width:1200px){
    .post-hidden {
        display: block;
    }
}
  }

  .instagram-photos__wrapper-img {
    display: flex;
    justify-content: space-between;
    img{
        margin-right: 10px;
    }
    @media screen and (min-width:320px){
        .instagram-photos__item2{
            display: none;
        }
        .instagram-photos__item3{
            display: none;
        }
        .instagram-photos__item4{
            display: none;
        }
        
}

@media screen and (min-width:768px){
        
    .instagram-photos__item4{
        display: none;
    }
    .instagram-photos__item2{
       
        display: inline;
       
    }
    .instagram-photos__item3{
        display: inline;
    }
    .instagram-photos__item1{
        display: inline;
    }
    }
  

        @media screen and (min-width:1200px){
            .instagram-photos__item2{
                display: inline;
            }
            .instagram-photos__item3{
                display: inline;
            }
            .instagram-photos__item4{
                display: inline ;
            }
            }


}



.footer {
    background: $footer-color;
    margin-top: 42px;
    &__title {
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #FEFEFE;
        text-transform: uppercase;
        text-align: center;
        padding: 38px 0 8px 0;
    }
    &__description {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;
        text-align: center;
    }
    &__social {
        margin-top: 26px;
        display: flex;
        justify-content: center;
        & a {
            text-decoration: none;
        }
        & a:last-child {
            margin-right: 0;
        }
    }

    .icon-rss {
        @include footer-icon;
        color:#F8902E;
        border-color: #F8902E;
    }
    .icon-facebook-sign {
        @include footer-icon;
        color:#39599F;
        border-color: #39599F;
    }
    .icon-twitter {
        @include footer-icon;
        color:#45B0E3;
        border-color: #45B0E3;
    }
    .icon-dribbble {
        @include footer-icon;
        color:#D97AB0;
        border-color: #D97AB0;
    }
    .icon-pinterest {
        @include footer-icon;
        color:#CC212C;
        border-color: #CC212C;
    }
    &__contact {
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 47px;

    }
}