.card{
    border: 1px solid black;
    padding: 10px;
}
.cards-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,290px);
    gap: 20px;
  }
  .catalog{
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(4,350px);
gap:20px ;  
}
.grid-item-1{
    grid-area: 1 / 1 / 2 / 5;
}
.grid-item-2{
    grid-area: 1 / 5/ 2 / 11;
}
.grid-item-3{
    grid-area: 2 / 1 / 3 / 4;
}
.grid-item-4{
    grid-area: 2 / 4 / 3 / 8;
}
.grid-item-5{
    grid-area: 2 / 8 / 3 / 11;
}
.grid-item-6{
    grid-area: 3 / 1 / 4 / 5;
}
.grid-item-7{
    grid-area: 3 / 5 / 4 / 8;
}
.grid-item-8{
    grid-area: 3 / 8 / 4 / 11;
}
.grid-item-9{
    grid-area: 4 / 1 / 5 / 4;
}
.grid-item-10{
    grid-area: 4 / 4 / 5 / 8;
}
.grid-item-11{
    grid-area: 4 / 8 / 5 / 11;
}
.catalog article{
    background-color: blueviolet;
}