.container {
  width: 1900px;
  margin: 0 auto;
}
li:hover {
  color: #14b9d5;
  cursor: pointer;
}

.navbar {
  width: 1900px;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #313131;
  display: flex;
  align-items: center;
}

.menu-item {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 35px;
}

.menu {
  display: flex;
  align-self: center;
  justify-content: center;
  white-space: nowrap;
}
.logo-flex {
  display: flex;
  align-items: center;
}

.text-logo {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 426px;
}

.navbar-logo {
  margin: 27px;
}

.search {
  background: #000000;
  width: 68px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 488px;
}

.main-title {
  width: 1900px;
  height: 369px;
  background: url("../img/header-bg.jpeg");
  background-position: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-title-text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}
.btn-to-sub {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #89ca62;
  color: #ffffff;
  padding: 16px 19px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.btn-to-rating {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #14b9d5;
  color: #ffffff;
  padding: 16px 19px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.background-color {
  background: #f2f2f2;
}

.column {
  display: flex;
  flex-direction: column;
}

.column div {
  margin: 30px;
}

h1 {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 25px;
  cursor: pointer;
  color: #18b4cf;
}

h3 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding: 20px;
}

.brand-list {
  background: url("../img/parallax-bg.jpeg");
  height: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brand-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-wrapper img {
  margin-right: 50px;
  margin-top: 106px;
}

h2 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  grid-area: 2 / 4 / 3 / 6;
  text-align: center;
}
.border-line {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  margin-top: 87px;
}

.top-rate {
  height: 190px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.top-rate-item {
  grid-column: 1 / 8 / 1/ 1;
}

.grid-news {
  height: 1550px;
}

.grid-news {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr) 80px;
  grid-column-gap: 35px;
  grid-row-gap: 46px;
}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: end;
}

.card-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin: 12px;
}

.backcolor {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.news-item-1 {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  width: 856px;
  height: 259px;
}
.flex-item-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.news-item-2 {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  height: 208px;
}
.news-item-3 {
  grid-area: 2 / 2 / 3 / 4;
}
.news-item-4 {
  grid-area: 2 / 4 / 3 / 6;
}
.news-item-5 {
  grid-area: 3 / 2 / 4 / 4;
}
.news-item-6 {
  grid-area: 3 / 4 / 4 / 6;
}

.news-item-7 {
  grid-area: 4 / 2 / 5 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 277px;
  height: 208px;
}
.news-item-8 {
  grid-area: 4 / 3 / 5 / 6;
  display: flex;
  width: 856px;
  height: 259px;
}

.d-flex-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 418px;
  width: 554px;
}

.img-pos {
  align-self: stretch;
}

footer {
  width: 1900px;
  background: #000000;
  grid-area: 5/1/6/7;
  display: flex;
  align-items: center;
}

.copyright-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  margin-left: 367px;
}

.bottom-logo-pos1 {
  margin-right: 1px;
  margin-left: 560px;
}

.bottom-logo-pos2 {
  margin-right: 306px;
}
