body {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-end {
  display: flex;
  align-items: center;
  margin-right: 79px;
}

.logo {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 25px;
  margin-left: 79px;
  cursor: pointer;
}

.sign-up {
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 25px;
}

.logo-icon {
  width: 23px;
  height: 23px;
  margin-right: 25px;
  cursor: pointer;
}

.wall-line {
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 25px;
}

.form-block {
  position: fixed;
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  top: calc(50% + 29px);
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  width: 69px;
  height: 14px;
}

.log-in {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.facebook-btn {
  width: 160px;
  height: 48px;
  background: #305db8;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.google-btn {
  width: 160px;
  height: 48px;
  background: #df4a32;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.line {
  width: 1px;
  height: 28px;
  left: 49px;
  top: 10px;
  margin-left: 18px;
  margin-right: 18px;
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.style-or {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #848484;
}

.form-head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
  padding-right: 61px;
  padding-left: 61px;
  padding-bottom: 15px;
}

.square {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
  background: #3cb878;
  top: 29px;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-style {
  width: 324px;
  height: 44px;
  left: 60px;
  top: 225px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 15px;
}

.form-style::placeholder {
  padding-left: 20px;
}

.form-style:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
}
.confirm-btn {
  width: 324px;
  height: 46px;
  left: 60px;
  top: 500px;

  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

.style-or {
  margin-top: 31px;
  margin-bottom: 11px;
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style-or::before {
  content: "";
  display: block;
  width: 152px;
  border: 1px solid #f2f2f2;
  height: 1px;
  margin-right: 5px;
  background-color: #f2f2f2;
}
.style-or::after {
  content: "";
  display: block;
  width: 152px;
  border: 1px solid #f2f2f2;
  height: 1px;
  margin-left: 5px;
  background-color: #f2f2f2;
}

.default-checkbox {
  opacity: 0;
  position: absolute;
  width: 100%;
}

.custom-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 324px;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001) no-repeat;
  border: 1px solid #f2f2f2;
}

.default-checkbox:checked + .custom-checkbox {
  background-image: url("../img/checkbox.svg");
  background-position: 2px 2px;
  width: 20px;
}

.terms {
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  margin-left: 4px;
}

h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-left: 8px;
  color: #434343;
}

.hover-header:hover {
  color: #2a5f41;
  cursor: pointer;
}

.facebook-btn:hover {
  background-color: #022263;
}
.google-btn:hover {
  background-color: #ab1f09;
}

.confirm-btn:hover {
  background-color: #01813f;
}

.terms:hover {
  color: #01813f;
  cursor: pointer;
}

.logo-icon:hover path {
  fill: #2a5f41;
}

.log-in:hover {
  color: #01813f;
}
